<mat-tab-group>
  <mat-tab [label]="'Male'">
    <div class="container-liste">
      <div class="liste" *ngIf="malePokemons">
        <div class="sub-list" *ngFor="let sublist of malePokemonsSub">
          <app-pokemon
            *ngFor="let pokemon of sublist"
            [pokemon]="pokemon"
          ></app-pokemon>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab [label]="'Female'">
    <div class="container-liste">
      <div class="sub-list" *ngIf="femalePokemons">
        <app-pokemon
          *ngFor="let pokemon of femalePokemons"
          [pokemon]="pokemon"
        ></app-pokemon>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
