.showed {
  filter: brightness(100%);
}

.hidden {
  filter: brightness(10%);
}

.img {
  width: 96px;
  height: 96px;
}

.showed,
.hidden {
  transition: filter 0.1s ease;
}

.name {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  z-index: 10;
  text-align: center;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden; /* Cache tout le contenu qui dépasse */
}

.pokemon {
  position: relative;
  display: flex;
}

.count {
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: black;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  font-size: 0.8em;
  transform: translate(400%, 400%);
}