.navbar {
  display: flex;
}

.navbar>button:first-child {
  margin-right: auto;
  visibility: hidden;
}

.navbar>button:last-child {
  margin-left: auto;
}


h1 {
  font-family: "Pokemon Solid", sans-serif;
}



.onglets {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.onglet {
  font-size: 2em;
  font-weight: bold;
}