<div class="navbar">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <h1>PokéTracker</h1>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu" class="menu-container">
  <div class="sub-menu">
    <button mat-menu-item>
      <mat-icon>download</mat-icon>
      <span>Export</span>
    </button>
  </div>
  <div>
    <button mat-menu-item>
      <mat-icon>upload</mat-icon>
      <span>Import</span>
    </button>
  </div>
</mat-menu>

<mat-tab-group>
  <mat-tab label="Gen. 1">
    <app-list-pokemon [generationId]="1"></app-list-pokemon>
  </mat-tab>
  <mat-tab label="Gen. 2">
    <app-list-pokemon [generationId]="2"></app-list-pokemon>
  </mat-tab>
  <mat-tab label="Gen. 3">
    <app-list-pokemon [generationId]="3"></app-list-pokemon>
  </mat-tab>
  <mat-tab label="Gen. 4">
    <app-list-pokemon [generationId]="4"></app-list-pokemon>
  </mat-tab>
  <mat-tab label="Gen. 5">
    <app-list-pokemon [generationId]="5"></app-list-pokemon>
  </mat-tab>
  <!-- <mat-tab label="Gen. 6">
        <app-list-pokemon 
            [generationId]="6"
        ></app-list-pokemon>
    </mat-tab>
    <mat-tab label="Gen. 7">
        <app-list-pokemon 
            [generationId]="7"
        ></app-list-pokemon>
    </mat-tab>
    <mat-tab label="Gen. 8"></mat-tab>
    <mat-tab label="Gen. 9"></mat-tab> -->
</mat-tab-group>
