<h1>PokéTracker</h1>

<mat-tab-group>
    <mat-tab label="Gen. 1">
        <app-list-pokemon [generationId]="1"></app-list-pokemon>
    </mat-tab>
    <mat-tab label="Gen. 2">
        <app-list-pokemon [generationId]="2"></app-list-pokemon>
    </mat-tab>
    <mat-tab label="Gen. 3">
        <app-list-pokemon [generationId]="3"></app-list-pokemon>
    </mat-tab>
    <mat-tab label="Gen. 4">
        <app-list-pokemon [generationId]="4"></app-list-pokemon>
    </mat-tab>
    <mat-tab label="Gen. 5"></mat-tab>
    <mat-tab label="Gen. 6"></mat-tab>
    <mat-tab label="Gen. 7"></mat-tab>
    <mat-tab label="Gen. 8"></mat-tab>
    <mat-tab label="Gen. 9"></mat-tab>
</mat-tab-group>
  